* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
}

a {
  color: white;
  background-color: blue;
  padding: 20px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 10px;
}

a:hover {
  color: azure;
}

h1 {
  padding-bottom: 20px;
}

input[type='text'],
input[type='password'],
input[type='file'],
select,
textarea,
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='range'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='email'],
input[type='url'] {
  display: block;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid darkblue;
  border-radius: 6px;
}

textarea {
  height: 150px;
}

select {
  height: 40px;
}

input[type='checkbox'],
input[type='radio'] {
  margin: 10px 5px; /* Ajusta el margen superior e inferior */
  display: block;
}

button {
  background-color: lightskyblue;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
}

button:hover {
  background-color: rgb(196, 229, 250);
  box-shadow: 0 0 2px gray;
}

button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
